page-home {
  // .xx{
  //   transform: none !important;
  // }
  // ion-navbar {
  //   position: fixed;
  //   .toolbar-background {
  //     background:  transparent !important;
  //     border-color: transparent !important;
  //   }
  // }
  .item .ellipsis_2{
    overflow : hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    white-space: normal
  }

  .banner {
    height: 210px;
    padding:0;
    overflow: hidden;
  }

  .banner .swiper-slide img {
    width: 100%;
    height: 100%;
  }

  .img-scroll {
    background: white;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
  }

  .img-scroll .label-ios {
    margin: 0;
  }

  .swiper-pagination .swiper-pagination-bullet-active,.swiper-pagination .swiper-pagination-bullet {
    background:white;
  }

}

